.aside{
    width: 13%;
    text-align: justify;
    background-color:rgb(184, 176, 176);
    height: 520px;
    overflow-y: scroll;
    overflow-x: scroll;
    color: #00008b;
    position: fixed;
     
}
.aside ul {
   text-align: center;
    list-style: none;
    
}

.aside ul li {
    margin: 10px 0px;
    font-size: 18px;
}

.hover{
    width: 100%;
    background-color:#f0e68c ;
    border: 1px solid #f0e68c;
    padding: 5px 10px;
    font-size: 15px;
    margin: 10px 10px;
}

